@model LokiPKL.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Fullname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Fullname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.NumberPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.NumberPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderDetails)
        </dt>
        <dd class = "col-sm-10">
            @foreach (OrderDetail o in ViewBag.OrderDetails)
           {
               @o.Product.ProductName <span>|</span>
               @o.Quantity <span>|</span>
               @o.FormatPrice <br />
           }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.StatusContent)
        </dd>
    </dl>
</div>
<br />
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
