@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<LokiPKL.Models.Order>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .create{
        float : right
    }
</style>


<h2>Orders</h2>

<p>
    <a class="btn btn-primary create" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                OrderDate
            </th>
            <th>
                CustomerName
            </th>
            <th>
                Address
            </th>
            <th>
                PhoneNumber
            </th>
            <th>
                Email
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @item.OrderDate
            </td>
            <td>
                @item.CustomerName
            </td>
            <td>
                @item.Address
            </td>
            <td>
                @item.PhoneNumber
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Status.StatusContent
            </td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.OrderId">Edit</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div aria-label="Page navigation example">
	<ul class="pagination">
		<pager class="pager-container" list="@Model" asp-action="Index" asp-controller="AdminOrders"></pager>
	</ul>
</div>