@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<LokiPKL.Models.Order>

@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Danh sách đơn hàng" + CurrentPage;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                OrderDate
            </th>
            <th>
                Fullname
            </th>
            <th>
               Email
            </th>
            <th>
                NumberPhone
            </th>
            <th>
                Address
            </th>
            <th>
                Status
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        {
            @foreach (var item in Model)
           {
            <tr>
            <td>
                @item.OrderDate
            </td>
            <td>
                @item.User.Fullname
            </td>
            <td>
                @item.User.Email
            </td>
            <td>
                @item.User.NumberPhone
            </td>
            <td>
                @item.User.Address
            </td>
            <td>
                @item.Status.StatusContent
            </td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.OrderId">Details</a>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.OrderId">Edit</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.OrderId">Delete</a>
            </td>
        </tr>
           }
        }
    </tbody>
</table>
<div aria-label="Page navigation example">
	<ul class="pagination">
		<pager class="pager-container" list="@Model" asp-action="Index" asp-controller="AdminOrders"></pager>
	</ul>
</div>