@model LokiPKL.Models.Blog

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Blog</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BlogTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogContent)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BlogContent)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BlogImage)
        </dt>
        <dd>
            <img style="width:150px;height:100px" src="~/Upload/Blog/@Model.BlogImage" />
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@Model.BlogId">Edit</a> 
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
</div>
