@model IEnumerable<LokiPKL.Models.Blog>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<style>
    .create{
        float : right
    }
</style>


<h2>Blogs</h2>

<p>
    <a class="btn btn-primary create" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlogTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogImage)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlogTitle)
            </td>
            <td>
                <img style="width:150px;height:100px" src="~/Upload/Blog/@item.BlogImage" />
            </td>
            <td>
                <a class="btn btn-info" asp-action="Details" asp-route-id="@item.BlogId">Details</a>
                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.BlogId">Edit</a> 
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BlogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
