@*
	For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<header id="header">
	<div class="header-top">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<div class="header-top-left">
						<div class="contact"><span class="hidden-xs hidden-sm hidden-md">Days a week from 8:00 am to 7:00 pm</span></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-8">
					<ul class="header-top-right text-right">
						@if (User.Identity.IsAuthenticated)
						{
							@if (User.IsInRole("Admin"))
							{
								<li>
									<a asp-area="Admin" asp-controller="Home" asp-action="Index">
										<span>Go To Admin Dashboard</span>
									</a>
								</li>
								<li>
									<a href="/Logout.html">Log out</a>
								</li>
							}
							else
							{
								<li>
									<a href="/Dashboard.html">
										<i class="fa-regular fa-circle-user"></i><span>@User.Identity.Name</span>
									</a>
								</li>
								<li>
									<a href="/Logout.html">Log out</a>
								</li>
							}
						}
						else
						{
							<li>
								<a href="/Login.html">Login</a>
							</li>
							<li>
								<a href="/Register.html">Register</a>
							</li>
						}

					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="header">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-4">
					<form asp-controller="Product" asp-action="Index">
						<div class="main-search mt_40">
							<input id="search-input" name="search" value="" placeholder="Search" class="form-control input-lg" autocomplete="off" type="text" value="">
							<span class="input-group-btn">
								<button type="submit" class="btn btn-default btn-lg"><i class="fa fa-search"></i></button>
							</span>
						</div>
					</form>
				</div>
				<div class="navbar-header col-xs-6 col-sm-4"> <a class="navbar-brand" href="index.html"> <img alt="themini" src="~/assets/images/logo.png"> </a> </div>
				<div class="col-xs-6 col-sm-4 shopcart">
					<div id="cart" class="btn-group btn-block mtb_40">
						<button type="button" class="btn" data-target="#cart-dropdown" data-toggle="collapse" aria-expanded="true">
							<span id="shippingcart">Shopping cart</span>
							<span id="cart-total">
								items (
								@if (ViewBag.IsGioHang != null && ViewBag.IsGioHang.Count > 0)
								{
									<span>@ViewBag.IsGioHang.Count</span>
								}
								else
								{
									<span>0</span>
								}
								)
							</span>
						</button>
					</div>

					<div id="cart-dropdown" class="cart-menu collapse">
						@if (ViewBag.IsGioHang != null && ViewBag.IsGioHang.Count > 0)
						{
							<ul>
								<li>
									<table class="table table-striped">
										<tbody>
											@foreach (var item in ViewBag.IsGioHang)
											{
												<tr>
													<td class="text-center"><img src="~/Upload/Main_image/@item.product.MainImage"></td>
													<td class="text-left product-name">
														<a asp-controller="Product" asp-action="Details" asp-route-id="@item.product.ProductId">@item.product.ProductName</a> 
														<span class="text-left price">UnitPrice: @item.product.FormatPrice</span>
														<div>Quantity: @item.amount</div>
														<div>Total Price: @item.FormatTotalPrice</div>
													</td>
													<td class="text-center"><a asp-controller="ShoppingCart" asp-action="Remove" asp-route-productID="@item.product.ProductId" class="close-cart"><i class="fa fa-times-circle"></i></a></td>
												</tr>
											}
										</tbody>
									</table>
								</li>
								<li>
									<form asp-controller="ShoppingCart" asp-action="Index">
										<input class="btn pull-left mt_10" value="View cart" type="submit">
									</form>
									<form asp-controller="ShoppingCart" asp-action="CheckOut">
										<input class="btn pull-right mt_10" value="Checkout" type="submit">
									</form>
								</li>
							</ul>
						}
						else
						{
							<div class="text-center">
								<p>Nothing in shopping cart</p>
							</div>
						}
					</div>
				</div>
			</div>
			<nav class="navbar">
				<p>menu</p>
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".js-navbar-collapse"> <span class="i-bar"><i class="fa fa-bars"></i></span></button>
				<div class="collapse navbar-collapse js-navbar-collapse">
					<ul id="menu" class="nav navbar-nav">
						<li> <a asp-controller="Home" asp-action="Index">Home</a></li>
						<li class="dropdown mega-dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Collection </a>
							<ul class="dropdown-menu mega-dropdown-menu row">

								@foreach (var item in ViewBag.Brands)
								{
									<li class="col-md-3">
										<ul>
											<li class="dropdown-header">@item.BrandName</li>
											@foreach (var c in ViewBag.Categories)
											{
												@if (item.BrandId == c.BrandId)
												{
													<li><a asp-controller="Product" asp-action="Index" asp-route-id="@c.CategoryId">@c.CategoryName</a></li>
												}
											}
										</ul>
									</li>
								}

							</ul>
						</li>
						<li> <a asp-controller="Product" asp-action="Index">Shop</a></li>
						<li> <a asp-controller="Blog" asp-action="Index">Blog</a></li>
						<li> <a asp-controller="Home" asp-action="About">About us</a></li>
						<li> <a asp-controller="Home" asp-action="Contact">Contact us</a></li>
					</ul>
				</div>
				<!-- /.nav-collapse -->
			</nav>
		</div>
	</div>
</header>