@model LokiPKL.Models.Product;
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="container">
      <div class="row ">
        <!-- =====  BANNER STRAT  ===== -->
        <div class="col-sm-12">
          <div class="breadcrumb ptb_20">
            <h1>Product Details</h1>
            <ul>
              <li><a asp-controller="Home" asp-action="Index">Home</a></li>
              <li><a asp-controller="Product" asp-action="Index">Products</a></li>
              <li class="active">@Model.ProductName ...</li>
            </ul>
          </div>
        </div>
        <!-- =====  BREADCRUMB END===== -->
        
          
         @await Html.PartialAsync("_CategoryLeftPartialView")

          
        <div class="col-sm-8 col-lg-9 mtb_20">
          <div class="row mt_10 ">
            <div class="col-md-6">
              <div><a class="thumbnails"> <img data-name="product_image" src="~/Upload/Main_image/@Model.MainImage" alt="" /></a></div>

              @*<div id="product-thumbnail" class="owl-carousel">
                <div class="item">
                  <div class="image-additional"><a class="thumbnail" href="~/assets/images/product/product1.jpg" data-fancybox="group1"> <img src="~/assets/images/product/product1.jpg" alt="" /></a></div>
                </div>
                <div class="item">
                  <div class="image-additional"><a class="thumbnail" href="~/assets/images/product/product2.jpg" data-fancybox="group1"> <img src="~/assets/images/product/product2.jpg" alt="" /></a></div>
                </div>
                <div class="item">
                  <div class="image-additional"><a class="thumbnail" href="~/assets/images/product/product3.jpg" data-fancybox="group1"> <img src="~/assets/images/product/product3.jpg" alt="" /></a></div>
                </div>
                <div class="item">
                  <div class="image-additional"><a class="thumbnail" href="~/assets/images/product/product4.jpg" data-fancybox="group1"> <img src="~/assets/images/product/product4.jpg" alt="" /></a></div>
                </div>
                <div class="item">
                  <div class="image-additional"><a class="thumbnail" href="~/assets/images/product/product5.jpg" data-fancybox="group1"> <img src="~/assets/images/product/product5.jpg" alt="" /></a></div>
                </div>
                <div class="item">
                  <div class="image-additional"><a class="thumbnail" href="~/assets/images/product/product6.jpg" data-fancybox="group1"> <img src="~/assets/images/product/product6.jpg" alt="" /></a></div>
                </div>
                <div class="item">
                  <div class="image-additional"><a class="thumbnail" href="~/assets/images/product/product7.jpg" data-fancybox="group1"> <img src="~/assets/images/product/product7.jpg" alt="" /></a></div>
                </div>
              </div>*@

            </div>
            <div class="col-md-6 prodetail caption product-thumb">
              <h2 data-name="product_name" class="product-name">@Model.ProductName</h2>
              <div class="rating">
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span>
                <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span>
              </div>
              <span class="price mb_20"><span class="amount">@Model.FormatPrice</span>
              </span>
              <hr>
              <ul class="list-unstyled product_info mtb_20">
                <li>
                  <label>Brand:</label>
                  <span> <a href="#">@Model.Brand.BrandName</a></span></li>
                <li>
                  <label>Product Code:</label>
                  <span>@Model.Brand.BrandName @Model.ProductId</span></li>
                <li>
                  <label>Availability:</label>
                        @if(@Model.Quantity > 0)
                        {
                            <span> In Stock</span>
                        }
                        else
                        {
                            <span> Out Stock</span>
                        }
              </li>
              </ul>
              <hr>
              <p class="product-desc mtb_30">@Model.Description</p>
              <div id="product">

                @*<div class="form-group">
                  <div class="row">
                    <div class="sort-by col-md-6">
                      <label>sort by</label>
                      <select name="product_size" id="select-by-size" class="selectpicker form-control">
                        <option>small</option>
                        <option>medium</option>
                        <option>large</option>
                      </select>
                    </div>
                    <div class="color col-md-6">
                      <label>color</label>
                      <select name="product_color" id="select-by-color" class="selectpicker form-control">
                        <option>blue</option>
                        <option>green</option>
                        <option>orange</option>
                        <option>white</option>
                      </select>
                    </div>
                  </div>
                </div>*@
                <form asp-controller="ShoppingCart" asp-action="AddToCart">
                  <input type="hidden" name="productID" value="@Model.ProductId"/>
                  <div class="qty mt_30 form-group2">
                  <label>Qty</label>
                  <input name="amount" min="1" max="10" value="1" type="number">
                  <input type="submit" value="Add To Cart"></input>
                </div>
                </form>
                @*<div class="button-group mt_30">
                  <div class="add-to-cart"><a href="#"><span>Add to cart</span></a></div>
                  <div class="wishlist"><a href="#"><span>wishlist</span></a></div>
                  <div class="compare"><a href="#"><span>Compare</span></a></div>
                </div>*@
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div id="exTab5" class="mtb_30">
                <ul class="nav nav-tabs">
                  <li><h3>Reviews</h3></li>
                </ul>
                <div class="tab-content ">
                  <div id="2c">
                    <form class="form-horizontal">
                      <div id="review"></div>
                      <h4 class="mt_20 mb_30">Write a review</h4>
                      <div class="form-group required">
                        <div class="col-sm-12">
                          <label class="control-label" for="input-name">Your Name</label>
                          <input name="name" value="" id="input-name" class="form-control" type="text">
                        </div>
                      </div>
                      <div class="form-group required">
                        <div class="col-sm-12">
                          <label class="control-label" for="input-review">Your Review</label>
                          <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
                        </div>
                      </div>
                      <div class="form-group required">
                        <div class="col-md-6">
                          <label class="control-label">Rating</label>
                          <div class="rates"><span>Bad</span>
                            <input name="rating" value="1" type="radio">
                            <input name="rating" value="2" type="radio">
                            <input name="rating" value="3" type="radio">
                            <input name="rating" value="4" type="radio">
                            <input name="rating" value="5" type="radio">
                            <span>Good</span></div>
                        </div>
                        <div class="col-md-6">
                          <div class="buttons pull-right">
                            <button type="submit" class="btn btn-md btn-link">Continue</button>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">


            </div>
          </div>
        </div>
      </div>
    </div>


    @section Scripts{
        <script>

        </script>
    }