@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<LokiPKL.Models.Product>
@{
	int CurrentPage = ViewBag.CurrentPage;
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="row ">
		<!-- =====  BANNER STRAT  ===== -->
		<div class="col-sm-12">
			<div class="breadcrumb ptb_20">
				<h1>Products</h1>
				<ul>
					<li><a asp-controller="Home" asp-action="Index">Home</a></li>
					<li class="active">Products</li>
				</ul>
			</div>
		</div>
		<!-- =====  BREADCRUMB END===== -->
		<div id="column-left" class="col-sm-4 col-lg-3 ">
			<div id="category-menu" class="navbar collapse in mb_40" aria-expanded="true" style="" role="button">
				<div class="nav-responsive">
					<br />
					<div class="heading-part" style="background-color:#424242;">
							<h3>CATEGORIES</h3>
					</div>
					<ul class="nav  main-navigation collapse in">
						<li class="category_"><a asp-controller="Product" asp-action="Index" asp-route-id="0">All Products</a></li>
					</ul>
					@foreach (var b in ViewBag.Brands)
					{
						<div class="heading-part" style="background-color:#424242;">
							<h3>@b.BrandName</h3>
						</div>
						<ul class="nav  main-navigation collapse in">
							@foreach (var c in ViewBag.Categories)
							{
								@if (b.BrandId == c.BrandId)
								{
									<li class="category_"><a asp-controller="Product" asp-action="Index" asp-route-id="@c.CategoryId">@c.CategoryName</a></li>
								}
							}
						</ul>
					}

				</div>
			</div>
			<div class="filter left-sidebar-widget mb_50">
				<div class="heading-part mtb_20 ">
					<h2 class="main_title">Refinr Search</h2>
				</div>
				<div class="filter-block">
					<p>
						<label for="amount">Price range:</label>
						<input type="text" id="amount" readonly>
					</p>
					<div id="slider-range" class="mtb_20 ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all"></div>

					<div class="list-group">
						<button type="button" class="btn">Refine Search</button>
					</div>

				</div>
			</div>
			<div class="left-special left-sidebar-widget mb_50">
			</div>
		</div>
		<div class="col-sm-8 col-lg-9 mtb_20">
			<div class="category-page-wrapper mb_30">
				<div class="list-grid-wrapper pull-left">
					<div class="btn-group btn-list-grid">
						<button type="button" id="grid-view" class="btn btn-default grid-view active"></button>
						<button type="button" id="list-view" class="btn btn-default list-view"></button>
					</div>
				</div>
				<div class="page-wrapper pull-right">
					<label class="control-label" for="input-limit">Show :</label>
					<div class="limit">
						<select id="input-limit" class="form-control">
							<option value="8" selected="selected">12</option>
							<option value="25">24</option>
							<option value="50">48</option>
							<option value="75">96</option>
						</select>
					</div>
					<span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
				</div>
				<div class="sort-wrapper pull-right">
					<label class="control-label" for="input-sort">Sort By :</label>
					<div class="sort-inner">
						<select id="input-sort" class="form-control">
							<option value="ASC" selected="selected">Default</option>
							<option value="ASC">Name (A - Z)</option>
							<option value="DESC">Name (Z - A)</option>
							<option value="ASC">Price (Low &gt; High)</option>
							<option value="DESC">Price (High &gt; Low)</option>
							<option value="DESC">Rating (Highest)</option>
							<option value="ASC">Rating (Lowest)</option>
							<option value="ASC">Model (A - Z)</option>
							<option value="DESC">Model (Z - A)</option>
						</select>
					</div>
					<span><i class="fa fa-angle-down" aria-hidden="true"></i></span>
				</div>
			</div>



			<div class="row">

				@foreach (var item in Model)
				{
					<div class="product-layout product-grid col-md-4 col-xs-6 ">
						<div class="item">
							<div class="product-thumb clearfix mb_30">
								<div class="image product-imageblock">
									<a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId">
										<img data-name="product_image" src="~/Upload/Main_image/@item.MainImage" class="img-responsive" />
										<img src="~/Upload/Main_image/@item.MainImage" class="img-responsive" />
									</a>
									<div class="button-group text-center">
										<div class="add-to-cart"><a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId"><span>Add to cart</span></a></div>
									</div>
								</div>
								<div class="caption product-detail text-center">
									<h5 data-name="product_name" class="product-name mt_20"><a asp-controller="Product" asp-action="Details" asp-route-id="@item.ProductId">@item.ProductName</a></h5>
									<div class="rating"> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-1x"></i></span> <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-1x"></i><i class="fa fa-star fa-stack-x"></i></span> </div>
									<span class="price">
										<span class="amount">@item.FormatPrice</span>
									</span>
									<p class="product-desc mt_20 mb_60"></p>
								</div>
							</div>
						</div>
					</div>
				}

			</div>


			<div class="text-center mt_50">
				<ul>
					<pager class="pager-container" list="@Model" asp-action="Index" asp-controller="Product"></pager>
				</ul>
			</div>


		</div>
	</div>

	@*<div id="brand_carouse" class="ptb_30 text-center">
		<div class="type-01">
			<div class="heading-part mb_10 ">
				<h2 class="main_title">Brand Logo</h2>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="brand owl-carousel ptb_20">
						<div class="item text-center"> <a href="#"><img src="~/assets/images/brand/brand1.png" alt="Disney" class="img-responsive" /></a> </div>
						<div class="item text-center"> <a href="#"><img src="~/assets/images/brand/brand2.png" alt="Dell" class="img-responsive" /></a> </div>
						<div class="item text-center"> <a href="#"><img src="~/assets/images/brand/brand3.png" alt="Harley" class="img-responsive" /></a> </div>
						<div class="item text-center"> <a href="#"><img src="~/assets/images/brand/brand4.png" alt="Canon" class="img-responsive" /></a> </div>
						<div class="item text-center"> <a href="#"><img src="~/assets/images/brand/brand5.png" alt="Canon" class="img-responsive" /></a> </div>
						<div class="item text-center"> <a href="#"><img src="~/assets/images/brand/brand6.png" alt="Canon" class="img-responsive" /></a> </div>
						<div class="item text-center"> <a href="#"><img src="~/assets/images/brand/brand7.png" alt="Canon" class="img-responsive" /></a> </div>
						<div class="item text-center"> <a href="#"><img src="~/assets/images/brand/brand8.png" alt="Canon" class="img-responsive" /></a> </div>
						<div class="item text-center"> <a href="#"><img src="~/assets/images/brand/brand9.png" alt="Canon" class="img-responsive" /></a> </div>
					</div>
				</div>
			</div>
		</div>
	</div>*@

</div>
