@using PagedList.Core.Mvc
@model PagedList.Core.IPagedList<LokiPKL.Models.Blog>
@{
    int CurrentPage = ViewBag.CurrentPage;
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
      <div class="row ">
        <!-- =====  BANNER STRAT  ===== -->
        <div class="col-sm-12">
          <div class="breadcrumb ptb_20">
            <h1>Blog</h1>
            <ul>
              <li><a asp-controller="Home" asp-action="Index">Home</a></li>
              <li class="active">Blog</li>
            </ul>
          </div>
        </div>
        <!-- =====  BREADCRUMB END===== -->

        @await Html.PartialAsync("_CategoryLeftPartialView") 

        <div class="col-sm-8 col-lg-9 mtb_20">
          <div class="row">
            <div class="three-col-blog text-left">
            @foreach (var item in Model)
           {
             <div class="blog-item col-md-6 mb_30">
                <div class="post-format">
                  <div class="thumb post-img"><a asp-controller="Blog" asp-action="SingleBlog" asp-route-id="@item.BlogId"> <img style="width:480.5px;height:300px;" src="~/Upload/Blog/@item.BlogImage"></a></div>
                </div>
                <div class="post-info mtb_20 ">
                  <h3 class="mb_10"> <a asp-controller="Blog" asp-action="SingleBlog" asp-route-id="@item.BlogId">@item.BlogTitle</a> </h3>
                  <div class="details mtb_20">
                    <div class="date pull-left"> <i class="fa fa-calendar" aria-hidden="true"></i></div>
                    <div class="more pull-right"> <a asp-controller="Blog" asp-action="SingleBlog" asp-route-id="@item.BlogId">Read more <i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a></div>
                  </div>
                </div>
              </div>  
           }

            </div>
          </div>
          <div class="text-center mtb_20">
            <ul>
              <pager class="pager-container" list="@Model" asp-action="Index" asp-controller="Blog"></pager>
            </ul>
          </div>
        </div>
      </div>
    </div>

